body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: column;
}
#query {
  flex-grow: 0;
}
#logs {
  flex-grow: 1;
}
#timeline {
  flex-grow: 0;
}
